<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Job Options!</title>
    <link rel="stylesheet" href="../static/form_style.css">
</head>
<body>
    <h1>Jobs under this category:</h1>
    <ol>
        <li>Engineering industry</li><br>
        <ul>
            <li><a href="">Biomedical engineering</a></li><br>
            <li><a href="">Chemical engineering</a></li><br>
            <li><a href="">Physical engineering</a></li><br>
            <li><a href="">Aerospace engineering</a></li><br>
            <li><a href="">Environmental engineering</a></li><br>
        </ul>
        <br>
        <li>Medicine and healthcare industry</li><br>
        <ul>
            <li><a href="{{url_for('doctor')}}">Doctor</a></li><br>
            <li><a href="">Dentist</a></li><br>
            <li><a href="">Veterinarian</a></li><br>
            <li><a href="">Pharmacist</a></li><br>
            <li><a href="">Physical therapists</a></li><br>
        </ul>
    </ol>
</body>
</html>